html,
body {
    margin: 0;
    padding: 0;
    background-color: #E2E8F0;

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.dashboard {
    background-color: #1892D4;
    color: white;
    grid-area: 1 / 1 / 7 / 2;
}

.header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 7;
    box-shadow: 0 4px 4px -4px gray;

}

.content {


    grid-area: 2 / 2 / 7 / 7;
}